<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <!--<add name="localdb" connectionString="server=localhost;user=root;database=svc;port=3306;" providerName=""/>-->
    <add name="localdb" connectionString="server=localhost;user=root;database=svc;pipename=mysql;pooling =true;Protocol=pipe" providerName="" />
  </connectionStrings>
</configuration>
